@import "../../colors.scss";

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $black;
} 

.button {
  text-align: center;
  margin: 2rem auto 0;
  background: $red;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    background: $red-hover;
  }
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding: 3rem;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 150%;
  color: white;
}

@media only screen and (max-width: 640px) {
  .section {
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section_1 {
  @extend .section;
  background: url("./resources/bg1.jpg");
  background-size: cover;
}

.section_2 {
  @extend .section;
  background: $black;
  .youtube {
    margin: 0 auto;
    width: 100%;
    max-height: 450px;
    max-width: 800px;
    height: 48vw;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.section_3 {
  @extend .section;
  background: $black;
}

.section_4 {
  @extend .section;
  background: url("./resources/bg2.jpg");
  // background-position: 0 0px;
  background-size: cover;
}

.section_5 {
  @extend .section;
  background: $lightgreen;
  color: $green;
}

.section_6 {
  @extend .section;
  color: $black;
  text-align: left;
  line-height: 140%;
  font-size: 1.1rem;
}

.section_7 {
  @extend .section;
  background: $lightgray;
  color: $red;
}


.alert {
  width: 100%;
  font-weight: 500;
  // font-size: 2.2rem;
}

.textshadow {
  text-shadow: 0 0 1rem black;
}