@import "../../../../colors.scss";

.container {
  margin: 0.5rem 0;
  position: relative;
}

.input {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid $lightgray;
  // border-radius: 0.5rem;
  &:focus {
    outline-width: 0;
    // border: inherit;
  }
  &.errored {
    border-color: $red;
  }
}

.label {
  position: absolute;
  color: $gray;
  right: 0.3rem;
  top: 2.4rem;
}

.suggestionsList {
  border: 1px solid $lightgray;
  border-top: none;
  // position: absolute;
  // background: rgb(233, 240, 243);
  width: 100%;
  z-index: 100;
}

.suggestion {
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background: $lightgray;
  }
}