@import "../../../../colors.scss";

.main {
  color: $red;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.text {
  @extend .main;
  text-align: right;
  font-weight: 500;
}

.count {
  @extend .main;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  .img {
    height: 5rem;
    display: none;
  }
  .text {
    margin-left: 1rem;
    color: $red;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  .logo .text {
    font-size: 1.5rem;
  }
}