@import "../../../../colors.scss";

.main {
  color: $red;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.text {
  @extend .main;
  text-align: right;
  font-weight: 500;
}

.count {
  @extend .main;
  font-weight: bold;
}

.img {
  height: 5rem;
}